<h3> View Employee Details </h3>
<div class="container">
    <div>
        <label><b> First Name: </b></label> {{employee.firstname}}
    </div>
    <div>
        <label><b> Last Name: </b></label> {{employee.lastname}}
    </div>
    <div>
        <label><b> Skills </b></label> {{employee.skills}}
    </div>
    <div>
        <label><b> Date </b></label> {{employee.date}}
    </div>
    <div>
        <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
    </div>
</div>