<div class="col-md-6 offset-md-3">
    <h3> Add certificate </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Id</label>
            <input type="text" class ="form-control" id = "id"
                [(ngModel)] = "certificate.certificateId" name = "id">
        </div>
    
        <div class="form-group">
            <label> Title</label>
            <input type="text" class ="form-control" id = "title"
                [(ngModel)] = "certificate.title" name = "title">
        </div>

        <div class="form-group">
        <label> Category</label>
        <input type="text" class="form-control" id="category"
        [(ngModel)]="certificate.category" name="category">
        </div>

        <div class="form-group">
            <label> Description</label>
            <input type="text" class="form-control" id="description"
            [(ngModel)]="certificate.description" name="description">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>
