<h2>Employee List</h2>
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Skills</th>
            <th>Date</th>
            <th class="text-center">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let employee of employees">
            <td>{{ employee.firstname }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.skills }}</td>
            <td>{{ employee.date }}</td>
         <td class="text-center">
                <!--<button (click)="updateEmployee(employee.id)" class="btn btn-info"> Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button> -->
                <button (click)="employeeDetails(employee.id)" class="btn btn-success" style="margin-left: 10px">  🛈 Details</button>
            </td>
            <!-- <td></td> -->


        </tr>

    </tbody>


</table>
