<button class="btn btn-outline-dark btn-block" (click)="AddCertificates()" style="margin-bottom: 30px"><strong>+  </strong>Add Certificates</button>
<!-- <span style="font-size: large; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Search</span>   
<input type="text" name="firstname" [(ngModel)]="firstname" (ngModelChange)="Search()" 
    placeholder="Enter First Name to search" style="width: 50%; margin-bottom: 20px; margin-left: 10px;"> -->
<h2 style="font-family:monospace;"><strong>Employee List</strong></h2>

<span style="font-size: large; font-family:Arial, Helvetica, sans-serif;">Search</span>   
<input type="text" name="firstname" [(ngModel)]="firstname" (ngModelChange)="Search()" 
    placeholder="Enter First Name to search" style="width: 20%; margin-bottom: 20px; margin-left: 10px;">

<table class="table" style="border: 20px;"> 
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Skills</th>
            <th>Date</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let employee of employees">
            <td>{{ employee.firstname }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.skills }}</td>
            <td>{{ employee.date }}</td>
            <td class="text-center"><button (click)="updateEmployee(employee.id)" class="btn btn-info"> Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">⌦ Delete</button>
                <!-- <button (click)="employeeDetails(employee.id)" class="btn btn-success" style="margin-left: 10px"> View</button> -->
            </td>
            <!-- <td></td> -->


        </tr>

    </tbody>


</table>

